.main_article {
    width: 90vw;
    margin: 20px 10px;
    padding: 20px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--accent-100);
    border-radius: 25px;
}

.border_none {
    border: none !important
}

.main_article img {
    width: 90vw;
    height: auto;
    border-radius: 15px;
}

.main_text {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 1.3rem;
    color: var(secondary-font-color);
}

.main_title {
    font-family: var(--primary-font);
    font-size: 2.2rem;
}

.main_buttons a:nth-child(1) button {
    margin-right: 15px;
    background-color: var(--bg-300);
    color: var(--bg-100);
}

@media (min-width: 768px) {
    .main_article {
        width: 650px;
        margin: 50px auto;
        padding: 30px;
        max-width: 25vw;
    }

    .main_article img{
        max-width: 26vw;
    }

    .main_title {
       
        margin-top: 50px;
    }

    .main_text {
    
        line-height: 1.9rem;
    }


}