@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/Noto_Sans/static/NotoSans-VariableFont_wght.woff2') format('woff2'),
        url('../assets/fonts/Noto_Sans/static/NotoSans-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'PlaypenSans';
    src: url('../assets/fonts/Playpen_Sans/PlaypenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoiretOne';
    src: url('../assets/fonts/Poiret_One/PoiretOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}