:root {
    --primary-100: #2E86AB;
    --primary-200: #67b6dd;
    --primary-300: #d8fbfb;
    --accent-100: #b06400d7;
    --accent-200: #87460052;
    --primary-font-color: #242424;
    --secondary-font-color: #4d4c4c;
    --bg-100: #F5F5F5;
    --bg-200: #ebebeb;
    --bg-300: #c2c2c2;

    --primary-font: 'NotoSans', sans-serif;
    --secondary-font: 'PoiretOne', sans-serif;
    --accent-font: 'PlaypenSans', cursive;
}